body{
    background-color: beige;
    margin: 0px;
}

.content{
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 100%;
    background-color: bisque;
}


.header{
    height: 40px;
    background-color: burlywood;
}

.goodsAdd{
    float: right;
    width: auto;
    margin: 20px;
}

.goodsEdit{
    float: right;
    width: auto;
    margin: 20px;
}
.categoryAdd{
    float: right;
    width: auto;
    margin: 20px;
}

.categoryEdit{
    float: right;
    width: auto;
    margin: 20px;
}
.showGood{
    float: right;
    width: auto;
    margin: 20px;
}

.showCategory{
    float: right;
    width: auto;
    margin: 20px;
}

.tables{
    float: left;
    width: auto;
    margin: 20px;
}

.tables table{
    border: 1px solid;
}
.tables  td{
    border: 1px solid;
}

.categoryDel{
    margin: 0px;
}