body{
    background-color: beige;
    margin: 0px;
}

.content{
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 100%;
    background-color: bisque;
    border: 1px solid;
}


.header{
    height: 40px;
    background-color: burlywood;
    border-bottom: 1px solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.goodsAdd{
    background-color: rgb(235, 178, 104);
    width: 300px;
    height: 250px;
    padding: 15px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-radius-: 15px;
}

.goodsEdit{
    background-color: rgb(235, 178, 104);
    width: 300px;
    height: 250px;
    padding: 15px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-radius: 15px;
}
.categoryAdd{
    background-color: rgb(235, 178, 104);
    width: 300px;
    height: 180px;
    padding: 15px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-radius: 15px;
}

.categoryEdit{
    background-color: rgb(235, 178, 104);
    width: 300px;
    height: 180px;
    padding: 15px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-radius: 15px;
}
.showGood{
    float: right;
    width: auto;
    margin: 20px;
}

.showCategory{
    float: right;
    width: auto;
    margin: 20px;
}

.tables{
    float: left;
    width: auto;
    margin: 20px;
}

.tables table{
    border: 1px solid;
}
.tables  td{
    border: 1px solid;
}

.categoryDel{
    margin: 0px;
}